*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.casingContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 100vh;
}

.casing {
    background-color: rgb(69, 104, 40);
    width: 500px;
    height: 590px;
    border-radius: 3%;
}

.alignmentContainer {
    display: flex;
    justify-content: center;
}

.screen {
    background-color: rgb(231, 105, 2);
    border-color: rgb(194, 132, 51);
    border-style: solid;
    border-radius: 3%;
    border-width: 7px;
    width:400px;
    height: 70px;
    margin-top: 40px;
    font-size: 40px;
    padding-left: 10px;
    padding-top: 10px;
}

.buttonsContainer {
    margin: 30px 42px 30px 42px;
}

.buttons {
    background-color: rgb(194, 132, 51);
    border-radius: 10%;
    border-color: black;
    font-size: large;
    width: 90px;
    height:70px;
    margin: 5px 5px 5px 5px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



